<b>Sentrale tjenester(Adresseoppslag, sentral konfigurasjon mm.)</b>
<style>
table {
	width:100%
	}
</style>
<table>
	<tr>
		<th>Tjeneste</th>
		<th>IPv4-adresse</th>
		<th>IPv6-adresse</th>
	</tr>
	<tr>
		<td>beta-meldingsutveksling.difi.no lb1</td>
		<td>79.170.81.231:443</td>
		<td>2001:67c:2d68:d1f1::1b:1</td>
	</tr>
	<tr>
		<td>beta-meldingsutveksling.difi.no lb2</td>
		<td>79.170.81.232:443</td>
		<td>2001:67c:2d68:d1f1::1b:2</td>
		
	</tr>
	<tr>
		<td>beta-meldingsutveksling.difi.no lb3</td>
		<td>79.170.81.233:443</td>
		<td>2001:67c:2d68:d1f1::1b:3</td>
	</tr>
	<tr>
		<td>Logging - TCP utgående</td>
		<td>79.170.81.228:8300</td>
		<td>2001:67c:2d68:d1f1::56:1</td>
	</tr>
	<tr>
		<td>oidc-ver1.difi.no</td>
		<td>146.192.252.121:443</td>
		<td>-</td>
	</tr>
	<tr>
		<td>oidc-ver2.difi.no</td>
		<td>146.192.252.121:443</td>
		<td>-</td>
	</tr>
	<tr>
		<td>eInnsyn - move-dpe.servicebus.windows.net</td>
		<td>13.69.253.135:443</td>
		<td>-</td>
	</tr>
</table>


