
############# SITE PROPERTIES #############
name: Dokumentasjon av fellesløsninger
url: https://difi.github.io/felleslosninger

# localhost port (can be anything)
port: 4000

# used with localization. change to "japanese" or "german" if localizing.
#language: english

# the output. in the _config_pdf.yml, this is "pdf". you can create conditions based on this property (such as navtab content that should appear in web but not pdf).
format: web

# the little icon that appears in the browser window's tab
favicon: assets/difi_emplem_negativ.jpg

############# TOP NAVIGATION BAR ################

# use a logo image in your nav bar.
use_logo: true

# logo image to use. logo images are constrained at 50px in height.
# logo: assets/difi-logo.png
logo: assets/Digdir.png

# use text title instead. text title read from uistring.title in ui strings section.
use_text_title: false

# make search bar appear in top nav?
search_in_topnav: true

# make search bar appear in sidebar?
search_in_sidebar: false

# in responsive view, show sidebar toggle button?
toggle-sidebar-button: true

# in responsive view, show navbar toggle button?
navbar-toggle: true

############# AUTOMATED LINKS #############

# the links.html script requires you to list your sidebars here. this is if you're using managed links (see jekyllhowto-content-and-formatting.html#automatedlinks)
sidebars:
  - generic
  - jekyllhowto

# determines whether the links.html script uses the jurl or hurl values in the sidebar data file
link_type: jurl

############# FEEDBACK BUTTON #############

# show feedback button in top nav bar?
show_feedback: true

# email address feedback gets sent to
feedback_email: servicedesk@digdir.no

# note: to customize the auto-completed body text, overwrite it by adding _includes/feedback.html in your own theme.


############# GITHUB BUTTON #############

# inserts github link in top nav bar (recommended)
github_button_location_top_navbar: true

# inserts github link below page title
github_button_location_below_title: false

# inserts github link at bottom of page (least visible)
github_button_location_page_bottom: false

# link to your github repo. replace <organization> (if applicable) and <repo name> and <branch name>. Note that the github link will be {{site.github_editme_path}}/{{page.path}}
github_editme_path: https://github.com/difi/felleslosninger/blob/gh-pages


############# Glossary info #############

# inserts glossary link in top nav bar (recommended)
glossary: true

# link to your github repo. replace <organization> (if applicable) and <repo name> and <branch name>. Note that the github link will be {{site.github_editme_path}}/{{page.path}}
glossary_path: https://difi.github.io/felleslosninger/ordliste.html


############# EXCLUDE LIST #############
# these folders or files will not be included in the output. you can use wildcards with asterisks.
exclude:
  - Config
  - s3_website
  - _config_*
  - Gemfile*
  - serve_*
  - build_*
  - gem_*
  - prince-list.txt
  - jekyll-theme-doc-project*
  - pdf
  - mobi

############# IMAGE PATHS #############

# if you want the images to be prefaced with a specific path, insert it here. Don't include a trailing slash at the end.
# the image include will insert this path before the image file name and will also add a /.
image_path: images
audio_path: audio


############# CLOUD STORAGE PATH #############

# most users can ignore this. if you have a layout that references assets on the cloud, you can store the asset path here.
# cloud_storage_path: https://s3-us-west-1.amazonaws.com/devcomm-images/jekyllhowto


############# DEFAULTS #############
# you can define default frontmatter values here. you can narrow the type down with subfolders (e.g., docs/myfolder).
# you might want to list your sidebar and product as default frontmatter values
# with translation, change topnav, footer (and sidebar) to use topnav_ja, footer_ja, generic_ja etc. for Japanese, or _de for german. you must have corresponding
# data files with those _ja or _de file names. Read more in jekyllhowto-localization.html.
defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      layout: default
      topnav: topnav
      footer: footer
  -
    scope:
      path: ""
      type: docs
    values:
      layout: default
      topnav: topnav
      footer: footer
      sidebar: main_sidebar

  -
    scope:
      path: ""
      type: search
    values:
      layout: default
      topnav: topnav
      footer: footer
      type: search
      sidebar: main_sidebar

  -
    scope:
      path: "images"
    values:
      image: true

############# COMMENTS #############
# show Disqus comments after pages
show_disqus_comments: false

# shortname for configuring Disqus
disqus_shortname:

############# GOOGLE ANALYTICS #############

# include Google Analytics?
show_google_analytics: true

# Google Analytics tracking code number (not the whole code snippet -- just UA-123456 or so)
# To adjust the google analytics code snippet, see the _includes/google_analytics.html code in the gem
google_analytics_code: UA-12685001-29

############# Breadcrumb ############
# you can modify the breadcrumb in _includes/breadcrumb.html

# Display breadcrumbs at all?
breadcrumb_display: false

# Display Home path in breadcrumb?
breadcrumb_home_display: true

# Url for Home path to point to
breadcrumb_home_url: https://github.com/difi/felleslosninger

##########  MARKDOWN PROCESS AND FILTER ##########
# leave these settings as is unless you want to use something other than kramdown Markdown

highlighter: rouge
markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge

########## SASS SETTINGS ##########
# used to define sass settings. leave as is.

 sass:
     style: compressed

############# COLLECTIONS #############
# used to define collections used in project. leave as is.

collections:
  docs:
    output: true

########## UI text ###############
# The UI text is separated into strings defined here to facilitate translation. Grouping them here also consolidates all UI text.
# Translate these for Japanese and German outputs.

uistring:
    title: Dokumentasjon av fellesløsninger # title to appear in nav bar and page meta
    description: Teknisk dokumentasjon av Digitaliseringsdirektoratets fellesløsninger # Displays as site description meta tag for site
    copyright: Digitaliseringsdirektoratet # appears in footer
    breadcrumb_home_name: Home # display name for "Home" path in the breadcrumb
    tableofcontents: Innhold # text that appears before in-page table of contents
    expandall: Utvid # appears as text in sidebar to expand all levels
    collapseall: Kollaps # appears as text in sidebar to collapse all levels
    home_btn: Hjem # sends the user to the frontpage
    search_placeholder_text: Søk ... # appears as placeholder in search field
    no_search_results_found: Vi fant ingen sider som passet til søket ditt. Prøv igjen med andre søkeord?
    feedback_link_name: Tilbakemeldinger # name of Feedback link
    feedback_subject_line: Tilbakemelding vedr. teknisk dokumentasjon # Auto-filled Subject link of email
    github_edit_button_text: Endre/rediger innhold # text for github button
    glossary_text: Ordliste # text for glossary link

# theme: jekyll-theme-cayman
