<footer>
    {% assign footer = site.data[page.footer] %}

    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-6">

                <div class="footer-brand">

                    <img class="footer-brand__logo" src="/assets/img/docs_white.svg" alt=""/>
                    <div class="footer-brand__text">{{footer.about_description}}
                    </div>

                </div>

            </div>

            <div class="col-lg-4 col-md-6">
                <div class="footer-links">
                    <div class="footer__heading">{{footer.column2_title}}</div>
                    <ul class="footer-links__list">
                        {% for link in footer.column2_links %}
                        <li class="footer-links__item"><a class="noExtIcon" href="{{link.target}}"> {{link.text}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">

                <div class="footer-contact">
                    <div class="footer__heading">Kontakt</div>

                    <div class="footer-contact__item">
                        <span>E-post: </span><a href="mailto:{{ footer.about_email }}">{{ footer.about_email }}</a>
                    </div>
                    
                 <!--
                <div class="footer-contact__item">                   
                <span>Telefon:</span> <span>{{ footer.about_telephone }}</span>
                -->
                    </div>
                
                    <a aria-label="Twitter icon" class="footer-contact__icon" href="https://twitter.com/digdir_no"
                       onclick="_gaq.push(['_trackEvent', 'exit', 'footer', 'Twitter']);">
                        <span class="noExtIcon fab fa-twitter"></span></a>

                    <a aria-label="Facebook icon" class="footer-contact__icon" href="https://www.facebook.com/groups/samarbeidsportalen"
                       onclick="_gaq.push(['_trackEvent', 'exit', 'footer', 'Facebook']);">
                        <span class="fab fa-facebook-f"></span></a>

                    <a aria-label="Rss icon" class="footer-contact__icon" href="https://docs.digdir.no/feed.xml"
                       onclick="_gaq.push(['_trackEvent', 'exit', 'footer', 'Rss',]);">
                        <span class="fas fa-rss"></span></a>

                </div>

            </div>

        </div>
    </div>
</footer>
