.highlight > .highlight {
  background-color: $color-grey-700;
  border-radius: 2px;
  padding: 30px;
  code {
    color: white;
  }
}
.language-plaintext, .highlighter-rouge, code {
color: darkred;
}
.hljs-number, .hljs-literal, .language-http, .hljs {
  color: black !important;
}
