.container {
  max-width: 1240px;
}

.content {
  padding-left: 45px;
}

@media (max-width: 1199.98px) {
  .content {
    padding-left: 15px;
  }
}


@media (max-width: 991.98px) {

  .content {
    padding-left: 0;
  }

  .sidebar-offcanvas {
    position: fixed;
    z-index: 1;
    width: 300px;
    flex: auto;
    max-width: inherit;
    left: -300px;

    &--open {
      left: 0;
    }
  }

}

@media (max-width: 575.98px) {
  .sidebar-offcanvas {
    width: 100%;
    left: -100%;

    &--open {
      left: 0;
    }

  }
}
