.navbar {
  font-size: 16px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  padding: 0;

  &-toggle {
    display: none;
  }

  &-nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
    width: 100%;

    li {
      @include font-style(400);

      a {
        padding: 15px 20px;
        display: flex;
        align-items: center;
        color: $color-grey-500;

        i {
          margin-right: 8px;
          font-size: 18px;
          margin-top: 0;
          font-weight: 400;
        }

        .fa-github {
          font-size: 20px;
        }
      }
    }
  }

  &-brand {
    margin-right: 0;
    padding: 0;
    position: relative;
    z-index: 2;
  }

  &-logo {
    height: 34px;
  }

  &-collapse {
    width: 100%;
  }

  .topnavlinks {
    height: $top-bar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }

  &-header {
    position: relative;
    width: 32.3%;
    height: $top-bar-height;
    display: flex;
    align-items: center;
  }

  .nav-overlay {
    background-color: $color-grey-100;
    width: 1000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: $top-bar-height;
  }

  #search-topnav-container {

    .input-group {
      margin-right: 0;
      margin-top: 0;
    }

    input {
      height: 40px;
      border-radius: 38px;
      border: none;
      background-color: $color-grey-100;
      @include font-style(200);
      padding-left: 16px;
      padding-right: 40px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      min-width: 200px;
    }

    .input-group-btn {
      position: absolute;
      right: 2px;
      top: 0;

      .btn {
        background-color: transparent;
        padding: 5px 12px;
        color: #a2a2a2;
        z-index: 5;
        position: relative;

        i {
          font-weight: 400;
        }

      }
    }

  }

}

@media (max-width: 1199.98px) {

  .navbar {

    &-nav {
      margin-left: 20px;
    }

    li {
      a {
        padding: 15px 10px;
      }
    }
  }

}

@media (max-width: 991.98px) {

  .navbar {

    &-header {
      width: 100%;
      justify-content: space-between;
      padding: 0 15px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.04);
    }

    &-toggle {
      display: block;
      z-index: 1;
      order: 3;
      background-color: transparent;
      border: none;
      min-width: 34px;

      &:before {
        font-family: "Font Awesome 5 Pro", sans-serif;
        content: '';
        font-weight: 100;
        font-size: 24px;
      }

      &.collapsed {
        &:before {
          content: '';
        }
      }

      &:focus {
        outline: none;
      }

    }

    &-brand {
      order: 2;
    }

    &-collapse {
      background-color: white;
      border-top: 1px solid $color-grey-200;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    &-nav {
      margin-left: 0;
      align-items: flex-start;
      padding: 10px 0;
    }

    li {
      a {
        padding: 20px 20px;
      }
    }

  }

  #search-topnav-container {
    border-top: 1px solid $color-grey-200;

    form {
      margin: 25px 20px;
    }

  }

  .toggle-sidebar-button {
    order: 1;

    &:before {
      font-family: "Font Awesome 5 Pro", sans-serif;
      content: '';
      font-weight: 100;
      font-size: 24px;
    }

    &.collapsed {
      &:before {
        content: '';
      }
    }
  }


}

