table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $color-grey-200;
  background-color: transparent;
  table-layout: auto;

  td,th {
    padding: 10px;
  }

  thead {
    tr {
      th {
        background-color: $color-light-yellow;
        vertical-align: bottom;
        border-bottom: 2px solid $color-grey-200;
        text-transform: none;
        text-align: left;
        font-weight: 600;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid $color-grey-200;
      td {
        p {
          padding: 8px 0px;
          line-height: 1.42857143;
          vertical-align: top;
          font-size: 1.5rem;
        }
      }
    }
  }

  p {
    max-width: 100%;
  }

  tr {
    td {
      hyphens: auto;
    }
  }

  td {
    hyphens: auto;

    &td:first-child {
      width: 150px;
    }

    &.white {
      background-color: white;
    }

    &.gray {
      background-color: #f7f7f7;
    }
  }

  code {
    background-color: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
    /* css-3 */

    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */

    white-space: -pre-wrap;
    /* Opera 4-6 */

    white-space: -o-pre-wrap;
    /* Opera 7 */

    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
  }

}

table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

table.boldFirstColumn td:first-child {
  font-weight: bold;
}

table.dataTable thead {
  background-color: #444;
}

pre,
table code {
  white-space: pre-wrap;
  /* css-3 */

  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

table, table p, table ol li, table ul li {
  max-width: 100%;
}
