<html>
<head>
<link rel="stylesheet" type="text/css" href="properties_css.css">
</head>
<body>
<table style="width:100%">	
    <tr>
        <th>Kun om du skal bruke egen database</th>
         <th></th>
         <th>Legg inn følgende</th>
      </tr>
      <tr>
        <td>difi.move.nextmove.useDbPersistence=true</td>
        <td>skrur på bruk av database for persistering</td>
        <td>NB! Denne må brukes sammen med ekstern database dersom en kjører med Docker</td>
      </tr>		
      <tr>
        <td>difi.datasource.url=jdbc:mysql://databaseserver/databasenavn?serverTimezone=UTC</td>
        <td>Path til databasen</td>
        <td>Om du bruker <i>?serverTimeZone=UTC</i> trenger du ikke den andre tidssone propertyen</td>
      </tr>
      <tr>
        <td>spring.jpa.properties.hibernate.jdbc.time_zone=Europe/Oslo</td>
        <td>Sørger for å bruke rett tidssone</td>
        <td>Bruk denne eller legg det på etter datasource url. Se over.</td>
      </tr>		
      <tr>
        <td>difi.datasource.username=</td>
        <td>Bruker til databasen</td>
        <td></td>
      </tr>	
      <tr>
        <td>difi.datasource.password=</td>
        <td>Passord til databasen</td>
        <td></td>
      </tr>	
      <tr>
        <td>spring.jpa.hibernate.ddl-auto=update</td>
        <td></td>
        <td></td>
      </tr>
      </table>
 </body>
</html>






