<html>
<head>
<link rel="stylesheet" type="text/css" href="properties_css.css">
</head>
<body>
<table style="width:100%">	
    <tr>
        <th><a id="fiks-io">Spesifikk for FIKS IO</a></th>
    </tr>
    <tr>
        <td>difi.move.feature.enableDPFIO=</td>
        <td>Toggle for FIKS IO-integrasjon</td>
        <td>(true/false)</td>
    </tr>
    <tr>
       <td>difi.move.fiks.io.konto-id=</td>
       <td>FIKS IO kontoId</td>
       <td>(UUID)</td>
    </tr>
    <tr>
       <td>difi.move.fiks.io.integrasjons-id=</td>
       <td>Id til valgt integrasjon</td>
       <td>(UUID)</td>
    </tr>
    <tr>
       <td>difi.move.fiks.io.integrasjons-passord=</td>
       <td>Passord til valgt integrasjon</td>
       <td></td>
    </tr>
    <tr>
       <td>difi.move.fiks.io.sender-orgnr=</td>
       <td>Statisk avsender-orgnr for mottatte meldinger</td>
       <td>(orgnr)</td>
    </tr> 
    </table>
 </body>
</html>
