<html>
<head>
<link rel="stylesheet" type="text/css" href="properties_css.css">
</head>
<body>
<table style="width:100%">
  <tr>
	<th>Påkrevd DPI properties</th>
	<th></th>
	<th>Denne propertyen må settes for å bruke DPI</th>
  </tr>	
  <tr>
	<td>difi.move.feature.enableDPI=true</td>
	<td>true</td>
	<td>Skrur på muligheten til å sende meldinger til innbygger</td>
  </tr>
  <tr>
	<th>Valgfrie DPI properties</th>
	<th>Defaultverdi</th>
	<th>Disse kan brukes, men må ikke</th>
  </tr>
  <tr>
	<td>difi.move.dpi.language</td>
	<td>NO</td>
	<td></td>
  </tr>	
  <tr>
	<td>difi.move.dpi.priority</td>
	<td>NORMAL</td>
	<td></td>
  </tr>	
  <tr>
	<td>difi.move.dpi.securityLevel</td>
	<td>3</td>
	<td>Sett sikkerhetsnivå 3 eller 4 på meldingen</td>
  </tr>	
  <tr>
	<td>difi.move.dpi.printSettings.shippingType</td>
	<td>ECONOMY</td>
	<td>Printinnstilling</td>
  </tr>	
  <tr>
	<td>difi.move.dpi.printSettings.inkType</td>
	<td>BLACK_WHITE</td>
	<td>Printinnstilling</td>
  </tr>	
  <tr>
	<td>difi.move.dpi.printSettings.returnType</td>
	<td>SHREDDING</td>
	<td>Printinnstilling</td>
  </tr>	
	<!--
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
	-->
 </table>
 </body>
</html>
