<html>
<head>
<link rel="stylesheet" type="text/css" href="properties_css.css">
</head>
<body>
<table style="width:100%">
  <tr>
	<th>Påkrevd DPI properties</th>
	<th>Denne må settes for å bruke DPI</th>
	<th></th>
  </tr>	
  <tr>
	<td>difi.move.feature.enableDPI=true</td>
	<td>true</td>
	<td>Skrur på muligheten til å sende meldinger til innbygger</td>
  </tr>
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<th>Valgfrie DPI properties</th>
	<th>Default verdi</th>
	<th>Disse kan brukes</th>
  </tr>
  <tr>
	<td>difi.move.dpi.priority</td>
	<td>NORMAL</td>
	<td></td>
  </tr>	
  <tr>
	<td>difi.move.dpi.printSettings.shippingType</td>
	<td>ECONOMY</td>
	<td></td>
  </tr>	
  <tr>
	<td>difi.move.dpi.printSettings.inkType</td>
	<td>BLACK_WHITE</td>
	<td></td>
  </tr>	
  <tr>
	<td>difi.move.dpi.printSettings.returnType</td>
	<td>SHREDDING</td>
	<td></td>
  </tr>	
  <tr>
	<td>difi.move.dpi.mpcId</td>
	<td>no.difi.move.integrasjonspunkt</td>
	<td>namn på kanaler for DPI kvittering</td>
  </tr>	
  <tr>
	<td>difi.move.dpi.mpcConcurrency</td>
	<td>1</td>
	<td>Antall kanaler for handtering av DPI kvittering</td>
  </tr>	
  <tr>
	<td>difi.move.dpi.clientMaxConnectionPoolSize</td>
	<td>10</td>
	<td>Antall tråder tilgjengelig for DPI klient</td>
  </tr>	
  <tr>
	<td>difi.move.feature.enableDsfPrintLookup</td>
	<td>true</td>
	<td>Skru av DSF-oppslag for DPV til innbygger</td>
  </tr>	
  <tr>
	<td>difi.move.queue.concurrency</td>
	<td>10</td>
	<td>Antall tråder for ActiveMQ køa</td>
  </tr>
  <tr>
	<td>difi.move.nextmove.statusPollingCron=</td>
	<td>0 * * * * *</td>
	<td>Status oppslag for digital DPV. Standardverdi: 1 pr min</td>
  </tr>		
	<!--
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
  <tr>
	<td></td>
	<td></td>
	<td></td>
  </tr>	
	-->
 </table>
 </body>
</html>
