<html>
<head>
<link rel="stylesheet" type="text/css" href="properties_css.css">
</head>
<body>
<table style="width:100%">
  <tr>
	<th>Spesifikk for Digital post til virksomheter (DPV)</th>
	 <th></th>
	 <th>Digital post til alle virksomheter.</th>
  </tr>
  <tr>
	<td>difi.move.feature.enableDPV=true</td>
	<td>Skrur på muligheten til å sende meldinger til private virksomhter via AltInn</td>
	<td>true</td>
  </tr>
  <tr>
	<td>difi.move.dpv.username</td>
	<td>Brukernavn for AltInn tjenesteeier</td>
	<td>Mottas på epost til oppgitt kontaktperson</td>
  </tr>
  <tr>
	<td>difi.move.dpv.password</td>
	<td>Passord for overnevnte bruker</td>
	<td>Mottas på SMS til oppgitt kontaktperson(TIPS. Kopier og lim)</td>
  </tr>
  <tr>
	<td>difi.move.dpv.notificationText=din tekst</td>
	<td>valgfri: Overstyr tekst i epost og mobilvarsel. </td>
	<td>ikke mulig å skille mellom mobil og epost.</td>
  </tr>	
 </table>
 
 </body>
</html>
