<html>
<head>
<link rel="stylesheet" type="text/css" href="properties_css.css">
</head>
<body>
<table style="width:100%">
  <tr>
	<th>Spesifikk for Digital post til virksomheter (DPV)</th>
	 <th></th>
	 <th>Digital post til alle virksomheter.</th>
  </tr>
  <tr>
	<td>difi.move.feature.enableDPV=true</td>
	<td>Skrur på muligheten til å sende meldinger til private virksomhter via AltInn</td>
	<td>true</td>
  </tr>
  <tr>
	<td>difi.move.dpv.username</td>
	<td>Brukernavn for AltInn tjenesteeier</td>
	<td>Mottas på epost til oppgitt kontaktperson</td>
  </tr>
  <tr>
	<td>difi.move.dpv.password</td>
	<td>Passord for overnevnte bruker</td>
	<td>Mottas på SMS til oppgitt kontaktperson(TIPS. Kopier og lim)</td>
  </tr>
  <tr>
	<td>difi.move.dpv.notificationText=din tekst</td>
	<td>valgfri: Overstyr tekst i epost og mobilvarsel. </td>
	<td>ikke mulig å skille mellom mobil og epost.</td>
  </tr>	
	
  <tr>
	<th>Spesifikk for Digital post til offentlige virksomheter (DPO)</th>
	 <th></th>
	<th>Digital post til virksomheter som har integrasjonspunktet.</th>
  </tr>
  <tr>
	<td>difi.move.feature.enableDPO=true</td>
	<td>Skrur på muligheten til å sende og motta DPO meldinger vi integrasjonspunktet</td>
	<td>true</td>
  </tr>
  <tr>
	<td>difi.move.noarkSystem.endpointURL</td>
	<td>URL integrasjonspunktet finner sak-/arkivsystemets BestEdu tjenester</td>
	<td>Se eksempel i properties-filen</td>
  </tr>
  <tr>
	<td>difi.move.noarkSystem.type</td>
	<td>Sak/-arkivsystem type</td>
	<td>ephorte/P360/WebSak/mail</td>
  </tr>
  <tr>
	<td>difi.move.noarkSystem.username*</td>
	<td>Brukernavn for autentisering mot sak-/arkivsystem</td>
	<td>svc_sakark</td>
  </tr>
  <tr>
	<td>difi.move.noarkSystem.password*</td>
	<td>Passord for autentisering mot sak-/arkivsystem</td>
	<td>changeit</td>
  </tr>
    <tr>
	<td>difi.move.noarkSystem.domain*</td>
	<td>Domene sakarkivsystemet kjører på</td>
	<td></td>
  </tr>
  <tr>
	<td>difi.move.dpo.username</td>
	<td>Opprett bruker <a href="http://difi.github.io/move-integrasjonspunkt/properties_config.html#opprette-bruker-til-altinn-formidlingstjeneste">Her</a></td>
	<td></td>
  </tr>
  <tr>
	<td>difi.move.dpo.password</td>
	<td>Passord du satte når du opprettet Altinn systembruker</td>
	<td></td>
  </tr>
   <tr>
	<th>Spesifikk for Digital post til kommuner (DPF)</th>
	 <th></th>
	 <th>Digital post til kommuner via FIKS</th>
  </tr>
  <tr>
	<td>difi.move.fiks.inn.username=</td>
	<td>KS FIKS brukernavn for svarInn</td>
	<td>(mottaker)</td>
  </tr>
  <tr>
	<td>difi.move.fiks.inn.password=</td>
	<td>KS FIKS passord for svarInn</td>
	<td></td>
  </tr>
  <tr>
	<td>difi.move.fiks.ut.username=</td>
	<td>KS FIKS brukernavn for svarUt</td>
	<td>(avsender)</td>
  </tr>
   <tr>
	<td>difi.move.fiks.ut.password=</td>
	<td>KS FIKS passord for svarUt</td>
	<td></td>
  </tr>
  <tr>
	<td>difi.move.mail.smtpHost=</td>
	<td>Host navn</td>
	<td></td>
  </tr>
   <tr>
	<td>difi.move.mail.smtpPort=</td>
	<td>Portnummer</td>
	<td></td>
  </tr>
   <tr>
	<td>difi.move.mail.receiverAddress=</td>
	<td>Mailadresse til postmottaket</td>
	<td></td>
  </tr>
  <tr>
	<td>difi.move.mail.senderAddress=</td>
	<td>avsenderadresse (intern e-postadresse)</td>
	<td></td>
  </tr>
  <tr>
	<td>difi.move.fiks.inn.mailOnError=false</td>
	<td>Brukes for å skru av mailsending ved feil</td>
	<td></td>
  </tr>
 <tr>
	<td>difi.move.mail.username=</td>
	<td>Brukernavn til autentisering mot epostserver</td>
	<td>Kan stå blank om autentisering ikke kreves</td>
  </tr>
 <tr>
	<td>difi.move.mail.password=</td>
	<td>Passord til autentisering mot epostserver</td>
	<td>Kan stå blank om autentisering ikke kreves</td>
  </tr>
		
  <tr>
	<td>difi.move.feature.enableDPF=true</td>
	<td>må være på for å bruke mailinnstillinger</td>
	<td></td>
  </tr>
  <tr>
	<td>difi.move.mail.enableAuth=false</td>
	<td>må være på for å bruke mailinnstillinger</td>
	<td></td>
   </tr>
 <tr>
	<td>difi.move.mail.trust=${difi.move.mail.smtpHost}</td>
	<td>la stå som dette</td>
	<td></td>
   </tr>
 <tr>
	<td>difi.move.fiks.inn.fallbackSenderOrgNr=000048755</td>
	<td>Alternativt: Workaround for hente inn meldinger fra svarInn utan orgnr i metadata</td>
	<td>Sett et vilkårlig nummer (9 siffer). feks 000048755</td>
   </tr>			
 <tr>
	<th>Kun om du skal bruke egen database</th>
	 <th></th>
	 <th>Legg inn følgende</th>
  </tr>
  <tr>
	<td>difi.move.nextmove.useDbPersistence=true</td>
	<td>skrur på bruk av database for persistering</td>
	<td></td>
  </tr>		
  <tr>
	<td>spring.datasource.url=jdbc:mysql://databaseserver/databasenavn?serverTimezone=UTC</td>
	<td>Path til databasen</td>
	<td>Om du bruker <i>?serverTimeZone=UTC</i> trenger du ikke den andre tidssone propertyen</td>
  </tr>
  <tr>
	<td>spring.jpa.properties.hibernate.jdbc.time_zone=Europe/Oslo</td>
	<td>Sørger for å bruke rett tidssone</td>
	<td>Bruk denne eller legg det på etter datasource url. Se over.</td>
  </tr>		
  <tr>
	<td>spring.datasource.username=</td>
	<td>Bruker til databasen</td>
	<td></td>
  </tr>	
  <tr>
	<td>spring.datasource.password=</td>
	<td>Passord til databasen</td>
	<td></td>
  </tr>	
  <tr>
	<td>spring.jpa.hibernate.ddl-auto=update</td>
	<td></td>
	<td></td>
  </tr>
  <tr>
	  <th>Diverse</th>
	 <th></th>
	 <th>Beskrivelse</th>
  </tr>
  <tr>
	  <td>difi.move.status.messageTimeoutHours=24</td>
	  <td>Levetiden på en forsendelse.** </td>
	  <td></td>
  </tr>
 </table>
 
 <p>* Autentisering mot sakarkivsystem benyttes av P360</p>
 <p>** Dette har en default verdi på ca 24 timer, men kan overstyres av virksomheten ved hjelp av denne propertien. 
       Når levetiden er utgått vil avsender få tilbakemelding om meldingen ikke ble levert og må sendes på nytt.</p>

 </body>
</html>
