<html>
<head>
<link rel="stylesheet" type="text/css" href="properties_css.css">
</head>
<body>
<table style="width:100%">
  <tr>
    <th>Properties</th>
    <th>Eksempel Java Keystore (JKS)</th> 
    <th>Beskrivelse</th>
  </tr>
  <tr>
    <td>server.port</td>
    <td>9093</td> 
    <td>Portnummer integrasjonspunktet skal kjøre på (default 9093)</td>
  </tr>
  <tr>
	<td>difi.move.org.number</td>
	<td>123456789</td>
	<td>Organisasjonsnummer til din organisasjon (9 siffer) </td>
  </tr>
  <tr>
	<td>difi.move.org.keystore.alias</td>
	<td>alias</td>
	<td>alias=navnet på virksomhetssertifikatet som ligger i JKS(case sensitivt)</td>
  </tr>
  <tr>
	<td>difi.move.org.keystore.password</td>
	<td>changeit</td>
	<td>Passord til java keystore</td>
  </tr>
   <tr>
	<td>difi.move.org.keystore.path</td>
	<td>file:c:/integrasjonspunkt/keystore.jks</td>
	<td>Path til .jks fil</td>
  </tr>
 </table>
 </body>
</html>
