<b>Sentrale tjenester(Adresseoppslag, sentral konfigurasjon mm.)</b>
<p>meldingsutveksling.difi.no</p>
<ul>
	<li><b>IPv4:</b> 79.170.81.231:443<br /><b>IPv6:</b> 2001:67c:2d68:d1f1::1b:1</li>
	<li><b>IPv4:</b> 79.170.81.232:443<br /><b>IPv6:</b> 2001:67c:2d68:d1f1::1b:2</li>
	<li><b>IPv4:</b> 79.170.81.233:443<br /><b>IPv6:</b> 2001:67c:2d68:d1f1::1b:3</li>
</ul>

<b>Id-portens autentiseringstjeneste </b>
<p>oidc.difi.no</p>
<ul>
	<li>146.192.252.54:443</li>
</ul>

<b>Logging. TCP. Utgående</b> 
<ul>
	<li><b>IPv4:</b> 79.170.81.228:8400<br /><b>IPv6:</b> 2001:67c:2d68:d1f1::56:1</li>
</ul>
