{% include topnav.html %}
<div class="container">

  <link rel="stylesheet" href="/assets/css/syntax.css"/>
  <link rel="stylesheet" href="/assets/css/listnav.css">

        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

                {% include sidebar.html %}

            </div>

            <!-- main area -->
            <div class="col-xs-12 col-sm-9 main">



              <div class="subtitle"></div>


              <div id="glossary-nav"></div>
              <div class="subtitle"></div>
                <dl id="glossary">

                    {% assign gs = site.data.glossary | sort %}
                        {% for kv in gs %}
                        <li class="ordliste"><b>{{ kv[0] }}</b> <br> {{ kv[1] }} </li>
                        {% endfor %}
			</dl>
            </div>
        </div><!--/.container-->

    </div><!--/.page-container-->

    {% include search-result-highlighting.html %}
    {% include footer.html %}

    {% include google_analytics.html %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="assets/js/jquery-listnav.min.js"></script>
    <script>
    $(function(){
    	$('#glossary').listnav();
    	$('.demo a').click(function(e) {
    		e.preventDefault();
    	});
    });
    </script>




</body>

</html>
