{% include topnav.html %}
<div class="container">

    <div class="row row-offcanvas row-offcanvas-left">

        <!-- sidebar -->
        <div class="col-lg-3 sidebar-offcanvas" role="navigation">
            <div class="sidebar">
                {% include sidebar.html %}
            </div>
        </div>

        <!-- main area -->
        <div class="col-md-12 col-lg-9 main">
            <div class="content">


                <div class="subtitle"></div>

                <div id="glossary-nav"></div>
                <div class="subtitle"></div>
                <dl id="glossary">

                    {% assign gs = site.data.glossary | sort %}
                    {% for kv in gs %}
                    <li class="ordliste glossary"><b>{{ kv[0] }}</b> <br> {{ kv[1] }}</li>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div><!--/.container-->

</div><!--/.page-container-->

{% include search-result-highlighting.html %}

{% include footer.html %}

{% include google_analytics.html %}


<script src="{{site.baseurl}}/assets/js/jquery-listnav.min.js"></script>
<script>
    $(function () {
        $('#glossary').listnav();
        $('.demo a').click(function (e) {
            e.preventDefault();
        });
    });
</script>

</body>

</html>
