{% include topnav.html %}
<div class="container">

  <link rel="stylesheet" href="/felleslosninger/assets/css/syntax.css"/>
  <link rel="stylesheet" href="/felleslosninger/assets/css/LandingCard.css"/>

        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

                {% include sidebar.html %}

            </div>

            <!-- main area -->
            <div class="col-xs-12 col-sm-9 main">
              <div class="subtitle">
                {% include breadcrumb.html %}
                </div>

                      {% if page.simple_map == true %}

                      <script>
                          $(document).ready ( function(){
                              $('.box{{page.box_number}}').addClass('active');
                          });
                      </script>

                      {% include {{page.map_name}} %}


                      {% endif %}

                    <h1>{{page.title}}</h1>

                {% if site.github_button_location_below_title == true %}
                {% include github_button.html %}
                {% endif %}

                {% if page.summary %}
                 <div class="summary">{{page.summary}}</div>
                {% endif %}

                    {{content}}
                  {% if site.github_button_location_page_bottom == true %}
                  {% include github_button.html %}
                  {% endif %}

                    {% include disqus.html %}

                    <div class="card card-1" onclick="location.href='https://difi.github.io/felleslosninger/digipost_index.html';" style="cursor: pointer;" >
                      <a class="card-text" >Digital postkasse til innbyggere</a>
                    </div>
                    <div class="card card-2" onclick="location.href='https://difi.github.io/felleslosninger/eformidling_index.html';" style="cursor: pointer;" >
                      <a class="card-text" >eFormidling</a>
                    </div>
                    <div class="card card-3" onclick="location.href='https://difi.github.io/felleslosninger/einnsyn_index.html';" style="cursor: pointer;" >
                      <a class="card-text" >eInnsyn</a>
                    </div>
                    <div class="card card-4" onclick="location.href='https://difi.github.io/felleslosninger/elma_index.html';" style="cursor: pointer;" >
                      <a class="card-text" >ELMA</a>
                    </div>
                    <div class="card card-5" onclick="location.href='https://difi.github.io/felleslosninger/esign_index.html';" style="cursor: pointer;" >
                      <a class="card-text" >eSignering</a>
                    </div>
                    <div class="card card-6" onclick="location.href='https://difi.github.io/felleslosninger/oidc_index.html';" style="cursor: pointer;" >
                      <a class="card-text" >ID-porten OIDC</a>
                    </div>
                    <div class="card card-7" onclick="location.href='https://difi.github.io/felleslosninger/kkr_index.html';" style="cursor: pointer;" >
                      <a class="card-text" >Kontakt- og reservasjonsregisteret</a>
                    </div>
                    <div class="card card-8" onclick="location.href='https://difi.github.io/felleslosninger/saml_tilgang.html';" style="cursor: pointer;" >
                      <a class="card-text" >ID-porten SAML</a>
                    </div>

                    <!--Här kan man lägga på flera knappar om man önskar... samt editera LandingCard.css-->

              </div> </div>
        </div><!--/.container-->

    </div><!--/.page-container-->
    {% include footer.html %}

    {% include google_analytics.html %}

</body>

</html>
